@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Comforter&family=Mochiy+Pop+P+One&family=Quintessential&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #000428;
  background: -webkit-gradient(linear, right top, left top, from(#000428), to(#004e92));
  background: linear-gradient(to left, #000428, #004e92);
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: url("images/cursor.png"), auto;
}

::-webkit-scrollbar {
  display: none;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000428;
  background: -webkit-gradient(linear, right top, left top, from(#000428), to(#004e92));
  background: linear-gradient(to left, #000428, #004e92);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 111;
}

.loader span {
  position: relative;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #f80759;
  margin: 10px;
  -webkit-animation: load 1s ease forwards infinite;
          animation: load 1s ease forwards infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-duration: calc(var(--i) * 0.8s);
          animation-duration: calc(var(--i) * 0.8s);
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes load {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.title {
  position: relative;
  top: -7px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.title h1 {
  padding: 18px;
  color: #fff;
  font-family: "Comforter", cursive;
  font-size: 3rem;
  letter-spacing: 2.5px;
}

.container {
  position: relative;
  top: 10px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Mochiy Pop P One", sans-serif;
}

.container .content {
  width: 250px;
  height: 420px;
  margin: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.6), inset 0px 0px 3px rgba(0, 0, 0, 0.6);
}

.container .content .imgBx {
  position: absolute;
  width: 250px;
  height: 420px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  border-radius: 22px;
  background: #f80759;
  /*border: 4px solid $white;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 100;
}

.container .content .imgBx i {
  color: #fff;
  font-size: 6rem;
  text-shadow: 8px 4px 10px rgba(0, 0, 0, 0.6);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1200px) translateZ(20px);
          transform: perspective(1200px) translateZ(20px);
}

.container .content:hover .imgBx {
  height: 0;
  border: none;
}

.container .content:hover .details .iconBx {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: 1s;
  transition: 1s;
}

.container .content .details {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #000428;
  background: -webkit-gradient(linear, right top, left top, from(#000428), to(#004e92));
  background: linear-gradient(to left, #000428, #004e92);
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6), inset -3px -3px 3px rgba(0, 0, 0, 0.6);
  color: #fff;
}

.container .content .details .iconBx {
  position: relative;
  top: -30px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  opacity: 0;
}

.container .content .details .iconBx i {
  font-size: 5rem;
  background: #11998e;
  background: -webkit-gradient(linear, left bottom, left top, from(#31ff38), to(#12bdae));
  background: linear-gradient(to top, #31ff38, #12bdae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container .content .details p {
  position: relative;
  top: -40px;
  font-size: 1.1rem;
  padding: 10px 0;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Akaya Telivigala", cursive;
}

.container .content .details a {
  position: relative;
  top: -44px;
  left: -24%;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  color: #fff;
  background: #000428;
  background: -webkit-gradient(linear, right top, left top, from(#000428), to(#004e92));
  background: linear-gradient(to left, #000428, #004e92);
  padding: 10px;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: url("images/click.png"), auto;
}

.container .content .details a .gradient {
  width: 100%;
  height: 100%;
  background: #11998e;
  background: -webkit-gradient(linear, left bottom, left top, from(#31ff38), to(#12bdae));
  background: linear-gradient(to top, #31ff38, #12bdae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer {
  position: absolute;
  bottom: 0px;
  right: 20px;
  opacity: 0.5;
}

.footer h3 {
  color: #fff;
  font-family: "Comforter", cursive;
}
/*# sourceMappingURL=style.css.map */